<html>
    <body>
        <a href="/new">
            <button>
                新規
            </button>
        </a>
        <a href="/total">
            <button>
                集計
            </button>
        </a>
        <br><br>
        評価損益合計：
        {{ data2 }}
        <br><br>
        <table border = 1>
            <tr>
                <th>銘柄コード</th>
                <th>銘柄名</th>
                <th>買値</th>
                <th>株数</th>
                <th>購入日付</th>
                <th>現在値</th>
                <th>総評価額</th>
                <th>損益額</th>
            </tr>
            {% for row in data %}
            <tr>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td>{{ row[12] }}</td>
                <td>{{ row[13] }}</td>
                <td>{{ row[14] }}</td>
            </tr>
            {% endfor %}             
        </table>
    </body>
</html>