<html>
    <body>      
        <form action="/result" method="post">
            <label for="stock_code">銘柄コード:</label>
            <input type="text" id="stock_code" name="stock_code" value="{{stock_code}}">
            <input type="submit" value="自動入力">
        </form>
        <form action="/sign_up" method="post">
            <label for="code">銘柄コード:</label>
            <input type="text" name="code" value="{{stock_code}}"><br><br> 

            <label for="name">銘柄名:</label>
            <input type="text" id="name" name="name" value="{{stock_name}}"><br><br>
            
            <label for="b_price">買値:</label>
            <input type="number" step="0.01" id="b_price" name="b_price" value="{{stock_price}}"><br><br>

            <label for="b_number">株数:</label>
            <input type="number" id="b_number" name="b_number" value=100><br><br>
            
            <label for="b_date">購入日付:</label>
            <input type="date" id="b_date" name="b_date" value="{{today}}"><br><br>
            
            <label for="b_reason">購入理由:</label>
            <input type="text" id="b_reason" name="b_reason"><br><br>
                    
            <input type="submit" value="新規登録">
        </form>
    </body>
</html>
