<html>
    <body>
        <form action="/submit" method="post">
        
            <form action="/result" method="post">
                <label for="stock_code">銘柄コード:</label>
                <input type="text" id="stock_code" name="stock_code" value="{{stock_code}}">
                <input type="submit" value="自動入力">
            </form>
            <br><br>

            <label for="name">銘柄名:</label>
            <input type="text" id="name" name="name" value="{{stock_name}}"><br><br>
            
            <label for="b_price">買値:</label>
            <input type="text" id="b_price" name="b_price"><br><br>
            
            <label for="b_date">購入日付:</label>
            <input type="text" id="b_date" name="b_date"><br><br>
            
            <label for="b_reason">購入理由:</label>
            <input type="text" id="b_reason" name="b_reason"><br><br>
            
            <label for="s_price">売値:</label>
            <input type="text" id="s_price" name="s_price"><br><br>
            
            <label for="s_date">売却日付:</label>
            <input type="text" id="s_date" name="s_date"><br><br>
            
            <label for="s_reson">結果理由:</label>
            <input type="text" id="s_reason" name="s_reason"><br><br>
            
            <label for="status">ステータス:</label>
            <input type="text" id="status" name="status"><br><br>
            
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
